name: build

on: [push, pull_request]

jobs:
  linux_and_mingw_build:
    runs-on: ubuntu-latest
    env:
      CXX: g++
    steps:
    - name: Update Local Aptitude Repos
      run: |
        sudo dpkg --add-architecture i386
        sudo apt update
    - name: Install CMake
      run: |
        sudo apt install -y cmake
    - name: Install 32-bit libraries
      run: |
        sudo apt install -y g++-multilib zlib1g:i386 libsnappy-dev:i386 liblz4-1:i386
    - name: Install mingw
      run: |
        sudo apt install -y gcc-mingw-w64-i686 g++-mingw-w64-i686
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build 64 bit
      run: |
        mkdir build-lin64 && cd build-lin64
        cmake ../
        cmake --build .
        cd ../
    - name: Archive qpakman Linux64
      uses: actions/upload-artifact@v4
      with:
        name: qpakman-linux64
        path: ./build-lin64/qpakman
    - name: Build 32 bit
      run: |
        mkdir build-lin32 && cd build-lin32
        cmake -E env CXXFLAGS="-m32" cmake ../
        cmake ../
        cmake --build .
        cd ../
    - name: Archive qpakman Linux32
      uses: actions/upload-artifact@v4
      with:
        name: qpakman-linux32
        path: ./build-lin32/qpakman
    - name: Build static Win32 executable with MinGW32
      run: |
        mkdir build-win32 && cd build-win32
        cmake -G "Unix Makefiles" \
          -DCMAKE_SYSTEM_NAME=Windows \
          -DCMAKE_C_COMPILER=i686-w64-mingw32-gcc \
          -DCMAKE_CXX_COMPILER=i686-w64-mingw32-g++ \
          -DCMAKE_FIND_ROOT_PATH=/usr/i686-w64-mingw32 \
          -DCMAKE_EXE_LINKER_FLAGS="-static -static-libgcc -static-libstdc++" \
          -DCMAKE_CXX_FLAGS="-static -static-libgcc -static-libstdc++" \
          -DCMAKE_BUILD_TYPE=Release \
          ../
        cmake --build .
        cd ../
    - name: Archive qpakman win32
      uses: actions/upload-artifact@v4
      with:
        name: qpakman-win32
        path: ./build-win32/qpakman.exe

  macos_build:
    runs-on: macos-15
    env:
      CXX: clang++
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build
      run: |
        mkdir build-macos && cd build-macos
        cmake ../
        cmake --build .
    - name: Archive qpakman macOS
      uses: actions/upload-artifact@v4
      with:
        name: qpakman-macos
        path: ./build-macos/qpakman